// teal theme
$teal: rgb(26, 148, 148);
$teal-trans: rgba(26, 148, 148, 0.4);
$github-gray: rgb(44, 50, 59);
$github-light-gray: rgb(205, 217, 229);

// dark theme
$background: #0E1217;
$foreground: #1C1E27;
$header: #FFFFFF;
$text:#A8B2CE;
$dull-text: #777E93;
$border: #353943;